li{
    background:#8785c4;
}
h1{
    background-color:#ff005d;
}

p{
    background-color:pink;
}
.myclass:hover {
    background-color: orange;
}
.otherstuff{
    background-color: yellow;
}
nav{
    text-transform: uppercase;
}
nav:hover {
    font-family: monospace;
}
.highlight:hover{
    background-color: yellow;
}
header{
    
    height:300px;
    width:100%;
}    
/*Services*/
text-align:center;

}

.services i{
    font-size: 60px;
    padding:45px 50px;
    
    background-color:f88379;
    color:#fff;
    text-align:center;
    width:80px;
    height:80px;
    
    border-radius: 50%;

}

.services span{
    font-weight: bold
}
    
 